* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Noto Sans Gothic", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: rgb(246, 247, 247);
}
.head {
    background-image:
                linear-gradient(180deg,
                    rgba(0, 0, 0, 0.75),
                    transparent), 
                      url("images/Screenshot\ 2024-06-01\ at\ 12.45.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 25px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.head img{
    padding-top: 30px;
}
.photos{
    position:static;
    height: 20rem;
}
img[alt~="desk"]{
    width: 70%;
    margin-top: 50px;
    margin-inline: 20px;
    position: absolute;
    z-index: 0;
}
img[alt~="hand-books"]{
    width: 46%;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 52%;
}
.content-1 h3, .content-2 h3{
    color:rgb(230, 81, 107, 100%);
    font-size: 0.8rem;
    font-weight: 100;
    margin-inline: 20px;
}
.content-1 h1{
    margin: 15px 20px;
    color: rgb(1, 55, 106);
    font-size: 1.3rem;
}
.content-1 p{
    color: #666666;
    font-size: 0.8rem;
    font-weight: 100;
    margin-inline-start: 20px;
    line-height: 1.3rem;
}
.content-1 button {
    padding: 7px 16px;
    margin-top: 22px;
    margin-bottom: 5px;
    margin-inline: 20px;
    border-radius: 20px;
    font-size: 0.75rem;
    background-color: white;
    border: 1px solid black;
    border-top: 2px solid #333333;
    border-bottom:2px solid #333333;
}
.content img{
    width: 10.5%;
    height: 8%;
    margin: 15px;
}
.content h1{
    color: rgb(1, 55, 106);
    font-size: 1rem;
    text-align: center;
}
.content p, .content-5 p{
    color: #666666;
    padding-top: 5px;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    background-color: #f7f9fc;
}
.content-2 {
    margin: 50px 0;
}
.content-2 h1{
    margin: 15px 20px;
    text-align: center;
    color: rgb(1, 55, 106);
    font-size: 1.3rem;
}
.content-2 p {
    color: #666666;
    font-size: 0.8rem;
    font-weight: 100;
    margin-inline-start: 20px;
    line-height: 1.3rem;
    text-align: center;
}
.content-2 #photos{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 20px;
}
img[alt~="laptop"]{
    width: 75%;
}
img[alt~="books"]{
    width: 80%;
}
.content-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/—Pngtree—color\ pencil\ chalk\ erased\ blackboard_1168222\ 1.png);
    background-size:100% 100%;
    margin: 20px;
    background-repeat: no-repeat;
}
.content-6 h3{
    font-size: 0.8rem;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 30px 70px;
}
.content-6 p {
    color: white;
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 300;
    padding-inline:10px;
}
.content-6 button {
    border-radius: 20px;
    border: none;
    padding: 12px 15px;
    margin-top: 30px;
    margin-bottom: 15rem;
    color: rgb(1, 55, 106);
    background-color: white;
    font-size: 0.9rem;
    font-weight: 600;
}
.content-7 {
    color: rgb(1, 55, 106);
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.content-7 h1{
    padding-inline: 14px;
    font-size: 1.4rem;
}
.content-7 button{
    margin: 20px;
    padding: 10px 30px;
    text-align: center;
    background-color: white;
    color: #333333;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 0.9rem;
}
.content-8 h3 {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(230, 81, 107);
    display: flex;
    margin: 20px;
}
.content-8 h2 {
    color: rgb(1, 55, 106);
    font-size: 1.5rem;
    margin: 20px;
}
.content-8 p {
    font-size: 1.01rem;
    color: #333333;
    font-weight: 600;
    margin: 20px;
}
.content-9 {
    background-color: #f4f8fd;
    text-align: center;
    padding:35px 25px 0 25px
}
.content-9 #wrapper {
    background-color: white;
}
.content-9 #topbar {
    padding: 20px 0px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.content-9 #bottombar{
    padding-top: 10px;
    padding-inline: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    line-height: 1.05rem;
    text-align: left;
    }
.content-9 h1 {
    font-size: 0.85rem;
}
.content-9 p {
font-size: 0.8rem;
padding-top: 5px;
}
.content-9 img {
    float: right;
}
/* .content-9 button {
    border: none;
    border-radius: 15px;
    margin: 30px 5px;
} */
.content-9 button {
    border: none;
    border-radius: 20px;
    margin: 30px 5px;
}
img[alt~=rightarrow]{
    background-image: url(images/right\ arrow.png);
    background-size: contain;
    padding: 5px;
}
img[alt~="leftarrow"]{
    background-color: #f7f9fc;
    padding: 4px;
    border: 1px solid#012858;
    border-radius: 25px;
}
.footer {
    background-color:#062a46;
    color: white;
    margin-top: 25px;
}
.footer h1 {
    font-size: 1.35rem;
    font-weight: 300;
    padding: 20px;
    text-align: center;
}
.email {
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-inline: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(20, 59, 87);
}
.email button {
    position: absolute;
    right: 30px;
    color: #072e4b;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    padding: 11px 3.5px;
}
.email input{
    padding: 16px;
    border: none;
    border-radius: 25px;
    font-size: 0.73rem;
}
.footer #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(20, 59, 87);
}
#menu p {
    font-size: 0.9rem;
    padding: 10px 5px;
    font-weight: 100;
    text-align: center;

}
.footer li {
    padding: 10px 28px 40px 35px;
    list-style: none;
    font-size: 0.9rem;
}
.horizontal-list {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.contact a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:rgb(230, 81, 107, 100%);
    font-size: 1.5rem;
    padding: 15px;
}
.Email a, li a {
    color: white;
    text-decoration: none;
}
.footer h6{
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 25px;
}
@media screen and (min-width:375px) {
    .content-6 p {
        font-size: 1.5rem;
        padding-inline: 27px;
    }
    .footer h1{
        font-size: 1.4rem;
    }
    .footer li {
        padding: 20px 40px;
    }
}
@media screen and (min-width:390px) {
    .photos{
        height: 19.5rem;
    } 
    img[alt~="desk"]{
        width: 65%;
        margin-inline: 25px;
    }
        img[alt~="hand-books"]{
                width: 39%;
                top: 27%;
                left: 50%;
        }
        img[alt~="laptop"]{
            width: 80%;
        }
        img[alt~="books"]{
            width: 20%;
        }
        
    }
 