* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-family: "AR One Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: rgb(250, 252, 252);
}

nav .desktop {
    display: none;
}

.desktop a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
}

.desktop button {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2.5px solid #333333;
    background-color: white;
}

.main-wrapper h1{
    background-image: url("desktopimages/privacypolicy/Screenshot\ 2024-06-01\ at\ 12.45.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 40px;
    font-size: 1.3rem;
    font-weight: 300;
    }
    .main-wrapper h6{
        font-size: 0.9rem;
        font-weight: 500;
        color:#ff4d4d;

        margin: 20px 20px 10px 20px;
    }
    .main-wrapper article{
        font-size: 0.7rem;
        font-weight: 400;
        margin-inline: 20px;
    }

    img[alt~=rightarrow] {
        background-image: url(images/right\ arrow.png);
        background-size: contain;
        padding: 6px;
    }
    
    img[alt~="leftarrow"] {
        background-color: #f7f9fc;
        padding: 5px;
        border: 1px solid #072e4b;
        border-radius: 18px;
    }
    .peter {
        display: none;
    }
    .footer {
        background-color:#062a46;
        color: white;
        margin-top: 25px;
    }
    .footer h1 {
        font-size: 1.35rem;
        font-weight: 300;
        padding: 20px;
        text-align: center;
    }
    .email {
        position: relative;
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding-inline: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(20, 59, 87);
    }
    .email {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(20, 59, 87);
    }
    .email button {
        position: absolute;
        right: 30px;
        color: #072e4b;
        background-color: white;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 20px;
        border: none;
        padding: 11px 3.5px;
    }
    .email input {
        padding: 16px;
        border: none;
        border-radius: 25px;
        font-size: 0.73rem;
    }
    .footer .top{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .footer #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 25px;
        border-bottom: 2px solid rgb(20, 59, 87);
    }
    #menu p {
        font-size: 0.9rem;
        padding: 10px 5px;
        font-weight: 100;
        text-align: center;
    
    }
    li a {
        color: white;
        text-decoration: none;
    }
    .horizontal-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        font-size: 0.9rem;
    }
    .horizontal-list li {
        padding-block: 20px;
    }
    .contact a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color:rgb(230, 81, 107, 100%);
        font-size: 1.5rem;
        padding: 15px;
    }
    .Email a{
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer h6{
        text-align: center;
        font-weight: 100;
        padding-top: 20px;
        padding-bottom: 25px;
    }
@media screen and (min-width:375px) {
    .footer h1 {
    font-size: 1.4rem;
}
.footer li {
    padding: 20px 40px;
} 
}
@media screen and (min-width:390px) {
    .horizontal-list {
        width: 100%;
        height: 30%;
        gap: 10px;
    }
}
@media screen and (min-width:768px) {
    #horizontal-list {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .horizontal-list {
        display: flex;
        width: 100%;
        margin-block: 5%;
        gap: 50px;
    }
    .footer .Email{
        text-align: center;
    }
    .footer li {
        padding-inline: 20px;
    }
}
@media screen and (min-width:1024px) {
    nav {
        padding: 20px;
        margin: 0;
    }

    nav .desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-inline: 50px;
        padding: 0;
    }

    img[alt~="aliwala-logo"] {
        display: none;
    }

    img[alt~="menu"] {
        display: none;
    }

    .desktop a {
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: #333333;
    }

    .desktop button {
        padding: 10px 20px;
        border-radius: 50px;
        border: 2.5px solid #333333;
        background-color: white;
    }

    .main-wrapper h1{
        background-image: url("desktopimages/privacypolicy/Screenshot\ 2024-06-01\ at\ 12.45.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 60px;
        margin-bottom: 80px;
        font-size: 3.5rem;
        font-weight: 500;
        }
        .main-wrapper h6{
            font-size: 1.3rem;
            font-weight: 600;
            color:#ff4d4d;

            margin: 40px 40px 20px 40px;
        }
        .main-wrapper article{
            font-size: 1.rem;
            font-weight: 500;
            margin-inline: 40px;
        }
        .peter {
            display: block;
            position: absolute;
            bottom: -60px;
            right: -80px;
            }
            img[alt~=rightarrow] {
                padding: 10px;
            }
            
            img[alt~="leftarrow"] {
                padding: 9px;
                border-radius: 20px;
            }
            img[alt~="group"] {
            position: absolute;
            right: -20px;
            top: -20px;
            }
            .content-9 .buttons {
            position: absolute;
            bottom: -15px;
            left: 10px;
            }
            .footer h1{
            font-size: 2.3rem;
            padding-inline: 200px;
            padding-top: 50px;
            }
            .email {
            padding-top: 20px;
            padding-bottom: 50px;
            padding-inline: 220px;
            position: relative;
            }
            .email button {
            position: absolute;
            right: 220px;
            font-size: 1rem;
            padding-inline: 20px;
            }
            .email button:hover{
            cursor: pointer;
            }
            .email input {
            font-size: 0.9rem;
            font-weight: 600;
            padding-left: 25px;
            }
            .footer #menu{
           display: flex;
           flex-direction: row;
           padding-top: 10px;
           padding-bottom: 25px;
            }
            .footer #menu p{
            text-align: left;
            font-size: 1rem;
            }
            .footer li {
            font-size: 1rem;
            }
            .footer .top{
            display: flex;
            align-items: start;
            width: 27%;
            margin-left:50px ;
            }
            .horizontal-list{
            display: flex;
            width: 100%;
            margin: 5% 5%;
            }
            .footer #contact{
            width: 33%;
            margin-left: 0px;
            font-size: 1.5rem;
            }
            .footer #contact p {
            font-size: 1.1rem;
            }
            .contact a {
            display: flex;
            justify-content: flex-start;
            font-size: 1.5rem;
            padding-block: 20px;
            padding-inline: 0px;
            }
            .footer .last {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            margin-inline: 40px;
            }
            .footer .Email{
            text-align: left;
            }
            .Email a {
                display: flex;
                justify-content: flex-start;
            }
}
@media screen and (min-width:1150px) {
    .footer .horizontal-list{
        width: 80%;
        font-size: 2rem;
    }
    .footer .last{
        justify-content: space-between;
        margin-inline: 50px;
        font-size: 1.8rem;
    }
    .footer li{
        font-size: 1.3rem;
    }
#contact a {
    font-size: 2rem;
}
.footer h1 {
    font-size: 3rem;
}
.email {
    padding-inline: 235px;
}
.email input {
    font-size: 1rem;
    padding-block: 20px;
    border-radius: 50px;
}
.email button {
    right: 240px;
    font-size: 1.2rem;
    padding-block: 10px;
}
.footer .horizontal-list{
    width: 100%;
    gap: 10px;
    margin-inline: 20px;
}
.footer .last{
    justify-content: space-between;
    margin-inline: 50px;
    font-size: 1.8rem;
}
.footer li{
    font-size: 1.3rem;
}
#contact {
    width: 30%;
    margin-left: 20px;
}
#contact a {
font-size: 2rem;
}
    }